.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
renv

# pixi environments
.pixi
.vscode
pixi.toml

.venv_altdoc
altdoc/freeze.rds
_quarto/*
!_quarto/_freeze/

# pixi environments
.pixi
*.egg-info
